.alert {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-weight: bold;
	flex-wrap: none;
	background: #eee;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 0;
	border: none;
	margin-top: 30px;
}

.box-title {
	background: #ddd;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	font-size: 1em;
}

.box-content {
	background: #eee;
	padding: 10px;
	border-radius: 0 0 4px 4px;
		p {
			margin: 0;
			font-size: .8em;
		}
}

.alert-breaking {
	background: $red;
	color: #fff;
		.box-title {
			background: $red-dark;
		}
		.box-content {
			background: $red;
		}
}

.alert-info {
	background: $yellow;
	color: #000;
		.box-title {
			background: $yellow-dark;
		}
		.box-content {
			background: $yellow;
		}
}