body {
	font-family: $body_font;
	font-size: 16px;
}

a {
	border-bottom: 3px solid $primary-color;
	color: #000;
		&:hover {
			text-decoration: none;
			color: #000;
			border-color: rgba($primary-color, 0.4);
		}
}



.site-content {
	padding: 0 15px;
}