.btn {
	padding: .65em 1.25em;
	font-size: .9em;
	text-transform: uppercase;
	background: #ffcc00;
	border-color: #ffcc00;
	color: #000;
	font-weight: bold;
	border-radius: 4px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #b28e00;
	border-color: #b28e00;
	color: #fff;
}

.btn-small {
	padding: .45em .95em;
	font-size: .8em;
}