/*  Content Block Table of contents

1.  Container
2.  Main Content
3.  Article
4.  Archives
5.  Single

*/



//  1. Container

.container {
	width: 90%;
	margin: 0 auto;
}

@media screen and (min-width: 1000px) {
	.container {
		width: 960px;
	}
}



//  2. Main Content

.content-area {
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}



//  3. Article



article {
	width: 100%;
}



//  4. Archives

.archives {
	
}

.archive-single {
	display: block;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;

		.entry-content {
			border-bottom: 1px solid #ddd;
			margin: 0 0 10px 0;
		}
}

.post-list-title h4 {
	margin: 0;
}

@media screen and (min-width: 800px) {

	.archive-single {
		
	}

}

@media screen and (min-width: 1000px) {

	.archive-single {
		
	}

}

.cat-list ul {
	font-size: .8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
		li {
			display: inline-block;
			margin-bottom: 10px;
				a {
					border-bottom: none;
					background: $primary-color;
					padding: 3px 5px;
					border-radius: 2px;
					font-size: .9em;
					font-weight: bold;
					margin-right: 5px;
					text-transform: uppercase;
						&:hover {
							background: rgba($primary-color, 0.4);
						}
				}
		}
}

.post-date {
	font-size: .8em;
	font-color: #666;
	font-style: italic;
	padding: 15px 0 10px 0;
}



//  5. Content Single

.entry-meta {
	font-size: .8em;
	text-align: right;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 13px 0 10px 0;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		a {
			border: none;
				&:hover {
					color: #999;
				}
		}
		strong {
			display: inline-block;
			float: left;
		}
}

.posted-on {
	display: block;
	text-align: left;
	float: left;
		strong {
			display: none !important;
		}
		&:after {
			content: "|";
			padding: 0px 12px;
		}
		strong {
			display: inline-block;
			padding-right: 3px;
		}
}

.gravatar {
		img {
			border-radius: 50%;
			display: inline-block;
			float: left;
			margin-top: -5px;
			margin-right: 8px;
		}
}

.author-name {
	font-weight: bold;
	display: inline-block;
	text-align: left;
	float: left;
		&:after {
			font-weight: normal;
			content: "|";
			padding: 0px 7px;
		}
}

.social-media-share-icons {
	padding: 0;
	list-style-type: none;
	float: left;
	margin-top: -3px;
	margin-bottom: 0px;
		li {
			display: inline-block;
			margin-left: 5px;
				a {
					display: block;
					background: #ddd;
					padding: 4px 10px;
					color: white;
					border-radius: 4px;
					text-align: center;
					width: 30px !important;
				}
		}
}

.facebook {
	background: $facebook !important;
		&:hover {
			background: rgba($facebook, .8) !important;
			color: white !important;
		}
}
.twitter {
	background: $twitter !important;
		&:hover {
			background: rgba($twitter, .8) !important;
			color: white !important;
		}
}

.single-post-navigation {
	border-top: 1px solid #ddd;
	margin-top: 60px;
	padding-top: 30px;
		nav {
			padding: 0;
			margin: 0;
		}
}

.edit-link {
	margin-top: 20px;
}

@media screen and (max-width: 767px) {

	.entry-meta-desktop {
		display: none;
	}

}

@media screen and (min-width: 768px) {

	.entry-meta-mobile {
		display: none;
	}

	.entry-meta {
		font-size: .8em;
		text-align: right;
		border: none;
		padding: 0;
			strong {
				display: block;
				float: none;
				text-align: right;
			}
	}

	.gravatar {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		img {
			margin-top: 0;
			border-radius: 50%;
			display: block;
			float: right;
		}
	}

	.author-name {
		font-weight: bold;
		display: block;
		padding: 5px 0;
		float: none;
		text-align: right;
			&:after {
				content:"";
				padding: 0;
			}
	}

	.posted-on {
		margin: 10px 0;
		padding: 10px 0;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		text-align: right;
		padding: 10px 0;
		margin: 10px 0;
		float: none;
			strong {
				display: block;
			}
			&:before {
				content: "Posted On";
				padding: 0;
				margin: 0;
				display: block;
				font-weight: bold;
			}
			&:after {
				content: "";
				padding: 0;
				margin: 0;
			}
	}

	.social-media-share-icons {
		padding: 0;
		margin: 5px 0 0 0;
		list-style-type: none;
		float: right;
			li {
				display: inline-block;
				margin-left: 5px;
					a {
						display: block;
						background: #ddd;
						padding: 4px 10px;
						color: white;
						border-radius: 4px;
						text-align: center;
						width: 30px !important;
					}
			}
	}

}

@media screen and (min-width: 900px) {

	.content-single {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.content-single-meta {
		flex: 1;
		margin: 0 40px 0 0;
	}

	.content-single-content {
		flex: 3;
	}

}







