/*  Content Block Table of contents

1.  Container
2.  Main Content
3.  Article
4.  Archives

*/



//  1. Container

.container {
	width: 90%;
	margin: 0 auto;
}

@media screen and (min-width: 1000px) {
	.container {
		width: 960px;
	}
}



//  2. Main Content

.content-area {
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}



//  3. Article



article {
	width: 100%;
}



//  4. Archives

.archives {
	
}

.archive-single {
	display: block;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;

		.entry-content {
			border-bottom: 1px solid #ddd;
			margin: 0 0 10px 0;
		}
}

.post-list-title h4 {
	margin: 0;
}

@media screen and (min-width: 800px) {

	.archive-single {
		
	}

}

@media screen and (min-width: 1000px) {

	.archive-single {
		
	}

}

.cat-list ul {
	font-size: .8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
		li {
			display: inline-block;
			margin-bottom: 10px;
				a {
					border-bottom: none;
					background: $primary-color;
					padding: 3px 5px;
					border-radius: 2px;
					font-size: .9em;
					font-weight: bold;
					margin-right: 5px;
					text-transform: uppercase;
						&:hover {
							background: rgba($primary-color, 0.4);
						}
				}
		}
}

.post-date {
	font-size: .8em;
	font-color: #666;
	font-style: italic;
	padding: 15px 0 10px 0;
}







