/*  Content Block Table of contents

1.  Container
2.  Main Content
3.  Article
4.  Archives
5.  Single
6.  Social Media
7.  Featured Post
8.  Home Page Loop

*/



//  1. Container

.container {
	width: 90%;
	margin: 0 auto;
}

@media screen and (min-width: 1000px) {
	.container {
		width: 960px;
	}
}



//  2. Main Content

.content-area {
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}



//  3. Article



article {
	width: 100%;
}



//  4. Archives

.archives {
	
}

.archive-single {
	display: block;
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;

		.entry-content {
			border-bottom: 1px solid #ddd;
			margin: 0 0 10px 0;
		}
}

.post-list-title h4 {
	margin: 0;
}

@media screen and (min-width: 800px) {

	.archive-single {
		
	}

}

@media screen and (min-width: 1000px) {

	.archive-single {
		
	}

}

.cat-list ul {
	font-size: .8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
		li {
			display: inline-block;
			margin-bottom: 10px;
				a {
					border-bottom: none;
					background: $primary-color;
					padding: 3px 5px;
					border-radius: 2px;
					font-size: .9em;
					font-weight: bold;
					margin-right: 5px;
					text-transform: uppercase;
						&:hover {
							background: rgba($primary-color, 0.4);
						}
				}
		}
}

.post-date {
	font-size: .8em;
	font-color: #666;
	font-style: italic;
	padding: 15px 0 10px 0;
}



//  5. Content Single

.entry-meta {
	font-size: .8em;
	text-align: right;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 13px 0 10px 0;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		a {
			border: none;
				&:hover {
					color: #999;
				}
		}
		strong {
			display: inline-block;
			float: left;
		}
}

.posted-on {
	display: block;
	text-align: left;
	float: left;
		strong {
			display: none !important;
		}
		&:after {
			content: "|";
			padding: 0px 12px;
		}
		strong {
			display: inline-block;
			padding-right: 3px;
		}
}

.gravatar {
		img {
			border-radius: 50%;
			display: inline-block;
			float: left;
			margin-top: -5px;
			margin-right: 8px;
		}
}

.author-name {
	font-weight: bold;
	display: inline-block;
	text-align: left;
	float: left;
		&:after {
			font-weight: normal;
			content: "|";
			padding: 0px 7px;
		}
}

.social-media-share-icons {
	padding: 0;
	list-style-type: none;
	float: left;
	margin-top: -3px;
	margin-bottom: 0px;
		li {
			display: inline-block;
			margin-left: 5px;
				a {
					display: block;
					background: #ddd;
					padding: 4px 10px;
					color: white;
					border-radius: 4px;
					text-align: center;
					width: 30px !important;
				}
		}
}

.facebook {
	background: $facebook !important;
		&:hover {
			background: rgba($facebook, .8) !important;
			color: white !important;
		}
}
.twitter {
	background: $twitter !important;
		&:hover {
			background: rgba($twitter, .8) !important;
			color: white !important;
		}
}

.single-post-navigation {
	border-top: 1px solid #ddd;
	margin-top: 60px;
	padding-top: 30px;
		nav {
			padding: 0;
			margin: 0;
		}
}

.edit-link {
	margin-top: 20px;
}

@media screen and (max-width: 767px) {

	.entry-meta-desktop {
		display: none;
	}

}

@media screen and (min-width: 768px) {

	.entry-meta-mobile {
		display: none;
	}

	.entry-meta {
		font-size: .8em;
		text-align: right;
		border: none;
		padding: 0;
			strong {
				display: block;
				float: none;
				text-align: right;
			}
	}

	.gravatar {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		img {
			margin-top: 0;
			border-radius: 50%;
			display: block;
			float: right;
		}
	}

	.author-name {
		font-weight: bold;
		display: block;
		padding: 5px 0;
		float: none;
		text-align: right;
			&:after {
				content:"";
				padding: 0;
			}
	}

	.posted-on {
		margin: 10px 0;
		padding: 10px 0;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		text-align: right;
		padding: 10px 0;
		margin: 10px 0;
		float: none;
			strong {
				display: block;
			}
			&:before {
				content: "Posted On";
				padding: 0;
				margin: 0;
				display: block;
				font-weight: bold;
			}
			&:after {
				content: "";
				padding: 0;
				margin: 0;
			}
	}

	.social-media-share-icons {
		padding: 0;
		margin: 5px 0 0 0;
		list-style-type: none;
		float: right;
			li {
				display: inline-block;
				margin-left: 5px;
					a {
						display: block;
						background: #ddd;
						padding: 4px 10px;
						color: white;
						border-radius: 4px;
						text-align: center;
						width: 30px !important;
					}
			}
	}

}

@media screen and (min-width: 900px) {

	.content-single {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.content-single-meta {
		flex: 1;
		margin: 0 40px 0 0;
	}

	.content-single-content {
		flex: 3;
	}

}



//  6. Social Media - Home Page

.social-media-section {
	display: flex;
	flex-direction: column;
		a {
			border-bottom: none;
			font-weight: bold;
				&:hover {
					color: $primary-color;
				}
		}
}

.twitter-feed {
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
	background: $twitter-dark;
	color: white;
	background: $twitter-dark; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($twitter-dark, $twitter); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($twitter-dark, $twitter); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($twitter-dark, $twitter); /* For Firefox 3.6 to 15 */
    background: linear-gradient($twitter-dark, $twitter); /* Standard syntax */
		h4 {
			padding-bottom: 20px;
			border-bottom: 1px solid #ddd;
		}
}

.sbi_photo {
	margin-bottom: 20px;
	border-radius: 4px;
}

#sbi_images {
	margin-top: -20px !important;
	margin-bottom: -20px !important;
}

.sbi_photo:nth-child(odd) img {
    margin-right: 0px !important;
}

.facebook-feed {
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
		h4 {
			padding-bottom: 20px;
			border-bottom: 1px solid #ddd;
		}
}

.instagram-feed {
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
		h4 {
			padding-bottom: 20px;
			border-bottom: 1px solid #ddd;
		}
}

@media screen and (min-width: 768px) {
	.social-media-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.twitter-feed {
		width: 31%;
	}
	.ctf {
		align-items: center;
	}
	.instagram-feed {
		width: 31%;
	}
	#sb_instagram #sbi_images {
		padding: 0px !important;
	}
	#sbi_images {
		margin-top: 0px !important;
	}
	#sb_instagram .sbi_photo img {
	    width: 85%;
	}
	.facebook-feed {
		width: 31%;
	}
}



//  7. Featured Post - Home Page



.hero-unit {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.featured-post {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 20px;
		.category {
			font-size: .8em;
			font-weight: bold;
			margin: 20px 20px 5px 20px;
				a {
					border-bottom: none;
				    background: #ddd;
					padding: 3px 5px;
					border-radius: 2px;
					font-size: .9em;
					font-weight: bold;
					margin-right: 5px;
					text-transform: uppercase;
				}
		}
		.featured-image {
			display: block;
			background: #eee;
				img {
					width: 100%;
					max-height: auto;
					overflow: hidden;
					border-radius: 4px 4px 0 0;
				}
		}
		p {
			padding: 0 20px;
		}
		h2 {
			padding: 0px 20px 0 20px;
		}
		
		.box-score {
			display: flex;
		}
		.teams {
			display: flex;
			width: 100%;
			align-self: center;
			margin: 0;
			padding: 10px;
		}
		.away-team {
			display: flex;
			width: 50%;
			justify-content: flex-end;
				.team-details {
					margin-right: 10px;
				}
				.logo {
					text-align: right;
						img {
							justify-content: flex-end;
						}
				}
				.school-name {
					text-align: right;
						h4 {
							display: block;
							margin-bottom: 3px;
						}
						h5 {
							display: block;
							margin: 0;
							color: #ccc;
						}
				}
				.score {
					margin-right: 10px;
				}
		}
		.home-team {
			display: flex;
			width: 50%;
			justify-content: flex-start;
				.team-details {
					margin-left: 10px;
				}
				.logo {
					text-align: left;
						img {
							justify-content: flex-start;
						}
				}
				.school-name {
					text-align: left;
						h4 {
							display: block;
							margin-bottom: 3px;
						}
						h5 {
							display: block;
							margin: 0;
							color: #ccc;
						}
				}
				.score {
					margin-left: 10px;
				}

		}
		.team-details {
			display: flex;
			flex-direction: column;
		}
		.logo {
			order: -1;
			display: block;
				img {
					width: 35px;
					height: 35px;
					justify-content: flex-end;
				}
		}
		.school-name {
				h4 {
					display: block;
					margin-bottom: 3px;
				}
				h5 {
					display: block;
					marign-bottom: 0;
				}
		}
		.score {
			padding: 5px 10px;
			text-align: center;
			font-size: 2em;
			font-weight: bold;
			border: 1px solid #ddd;
			float: right;
			margin: 0;
			align-self: center;
			background: #fff;
		}
		.game-status {
			margin: 10px;
			text-align: center;
			font-size: .8em;
			font-weight: bold;
		}
}



@media screen and (min-width: 768px) {
	.hero-unit {
		display: flex;
		flex-direction: row;
			.featured-post {
				flex: 3;
				margin-right: 50px;
				margin-bottom: 0;
			}
			.team-details {
				flex-direction: row;
				align-self: center;
			}
			.away-team {
				.logo {
					order: 1;
					margin-left: 10px;
				}
			}
			.home-team {
				.logo {
					margin-right: 10px;
				}
			}
			.score {
				min-width: 50px;
			}
	}

}

// 		.game-status {
// 			font-weight: bold;
// 			text-align: center;
// 			width: 100%;
// 			font-size: .8em;
// 			margin-bottom: 20px;
// 		}
// 		.box-score {
// 			padding: 0 5px;
// 			margin: 0 auto;
// 			display: flex;
// 			justify-content: center;
// 			margin-bottom: 10px;
// 			background: #f5f5f5;
// 			padding: 10px 0;
// 		}
// 		.teams {
// 			display: flex;
// 			flex-direction: row;
// 			width: 100%;
// 				.logo {
// 					display: block;
// 					width: 100%;
// 						img {
// 							height: 35px;
// 							width: 35px;
// 						}
// 				}
// 				.score {
// 					border: 1px solid #ddd;
// 					padding: 5px;
// 					font-size: 1.45em;
// 					font-weight: bold;
// 					background: #fff;
// 				}
// 				h5 {
// 					font-family: $body_font;
// 					font-weight: 400;
// 				}
// 				.away-team {
// 					display: flex;
// 					flex-direction: row;
// 					align-items: center;
// 					float: right;
// 					justify-content: flex-end;
// 					flex: 1;
// 						.logo {
// 							margin-right: 5px;
// 							background: #eee;
// 						}
// 						.school-name {
// 							margin-right: 5px;
// 							text-align: right;
// 							width: 100%;
// 							display: block;
// 						}
// 						.score {
// 							margin-right: 5px;
// 							background: #fff;
// 						}
// 						h4 {
// 							font-size: .8em;
// 							margin-bottom: 0px;
// 							padding: 0;
// 						}
// 						h5 {
// 							font-size: .58em;
// 							color: #ccc;
// 							font-weight: normal !important;
// 							margin-bottom: 0;
// 						}
// 				}
// 				.home-team {
// 					display: flex;
// 					align-items: center;
// 					float: left;
// 					flex: 1;
// 					justify-content: flex-start;
// 						.logo {
// 							margin-left: 5px;
// 							background: #eee;
// 						}
// 						.school-name {
// 							margin-left: 5px;
// 							text-align: left;
// 						}
// 						.score {
// 							margin-left: 5px;
// 						}
// 						h4 {
// 							font-size: .95em;
// 							margin-bottom: 0px;
// 							padding: 0;
// 						}
// 						h5 {
// 							font-size: .65em;
// 							color: #ccc;
// 							font-weight: normal !important;
// 							margin-bottom: 0;
// 						}
// 				}
// 		}
// }

// @media screen and (min-width: 768px) {

// 	.hero-unit {
// 		display: flex;
// 		justify-content: space-between;
// 		flex-direction: row;
// 	}

// 	.featured-post {
// 		border: 1px solid #ddd;
// 		border-radius: 4px;
// 		flex: 3;
// 		margin-right: 50px;
// 			.category {
// 				font-size: .8em;
// 				font-weight: bold;
// 				margin: 20px 20px 5px 20px;
// 					a {
// 						border-bottom: none;
// 						    background: #fc0;
// 						    padding: 3px 5px;
// 						    border-radius: 2px;
// 						    font-size: .9em;
// 						    font-weight: bold;
// 						    margin-right: 5px;
// 						    text-transform: uppercase;
// 					}
// 			}
// 			.featured-image {
// 				display: block;
// 				background: #eee;
// 					img {
// 						width: 100%;
// 						max-height: auto;
// 						overflow: hidden;
// 						border-radius: 4px 4px 0 0;
// 					}
// 			}
// 			p {
// 				padding: 0 20px;
// 			}
// 			h2 {
// 				padding: 0px 20px 0 20px;
// 			}

// 			.game-status {
// 				font-weight: bold;
// 				text-align: center;
// 				width: 100%;
// 				font-size: .8em;
// 				margin-bottom: 20px;
// 			}

// 			.box-score {
// 				padding: 0 5px;
// 				margin: 0 auto;
// 				display: flex;
// 				justify-content: center;
// 				margin-bottom: 10px;
// 				background: #f5f5f5;
// 				padding: 10px 0;
// 			}
// 			.teams {
// 				display: flex;
// 				flex-direction: row;
// 				width: 100%;
// 					.logo img {
// 						height: 35px;
// 						width: 35px;
// 					}
// 					.score {
// 						border: 1px solid #ddd;
// 						padding: 5px;
// 						font-size: 1.45em;
// 						font-weight: bold;
// 						background: #fff;
// 					}
// 					h5 {
// 						font-family: $body_font;
// 						font-weight: 400;
// 					}
// 					.away-team {
// 						display: flex;
// 						align-items: center;
// 						float: right;
// 						justify-content: flex-end;
// 						flex: 1;
// 							.logo {
// 								margin-right: 5px;
// 								background: #eee;
// 							}
// 							.school-name {
// 								margin-right: 5px;
// 								text-align: right;
// 							}
// 							.score {
// 								margin-right: 5px;
// 								background: #fff;
// 							}
// 							h4 {
// 								font-size: .8em;
// 								margin-bottom: 0px;
// 								padding: 0;
// 							}
// 							h5 {
// 								font-size: .58em;
// 								color: #ccc;
// 								font-weight: normal !important;
// 								margin-bottom: 0;
// 							}
// 					}
// 					.home-team {
// 						display: flex;
// 						align-items: center;
// 						float: left;
// 						flex: 1;
// 						justify-content: flex-start;
// 							.logo {
// 								margin-left: 5px;
// 								background: #eee;
// 							}
// 							.school-name {
// 								margin-left: 5px;
// 								text-align: left;
// 							}
// 							.score {
// 								margin-left: 5px;
// 							}
// 							h4 {
// 								font-size: .95em;
// 								margin-bottom: 0px;
// 								padding: 0;
// 							}
// 							h5 {
// 								font-size: .65em;
// 								color: #ccc;
// 								font-weight: normal !important;
// 								margin-bottom: 0;
// 							}
// 					}
// 			}
// 	}



.todays-events {
	display: flex;
	flex: 1;
	// background: #fafafa;
	border-radius: 4px;
	padding: 0px;
	flex-direction: row;
	width: 100%;
	font-size: .7em;
	background: #f6f6f6;
	padding: 10px;
		.events-inner {
			width: 100%;
		}
	    h4 {
	    	width: 100%;
	    	margin: 0 0 10px 0;
	    	text-align: center;
	    }
	    p {
	    	font-size: .8em;
	    	padding: 0 1em;
	    	border-bottom: 1px solid #eeeeee;
	    	padding-bottom: 20px;
	    	margin-bottom: 20px;
	    		&:last-child {
	    			border: none;
	    		}
	    }
	    ul {
	    	display: flex;
	    	justify-content: space-between;
	    	flex-wrap: wrap;
	    	width: 100%;
	    	padding: 0;
	    	margin: 0;
	    	list-style-type: none;
	    		li {
	    			width: 48%;
	    			margin-bottom: 5px;
	    			padding-bottom: 5px;
	    		}
	    }
	    .sport-name {
	    	background: #ddd;
	   		display: block;
	   		padding: 3px;
	   		font-size: 1em;
	    }
	    .score {
	    	float: right;
	    }
	    .team {
	    	padding: 2px 0;
	    }
	    .team-logo img {
	    	height: 20px;
	    	width: 20px;
	   		margin-right: 5px;
	    }
	    .live {
	    	color: $red;
	    }
	    .game-status {
	    	border-top: 1px solid #ddd;
	    	text-align: right;
	    	padding-top: 2px;
	    }
	    .tournament-title {
	    	padding: 3px 0;
	    }
}





@media screen and (min-width: 768px) {
	.todays-events {
		flex: 1;
			ul {
		    	display: flex;
		    		li {
		    			width: 100%;
		    			margin-bottom: 5px;
		    			padding-bottom: 5px;
		    		}
		    }
	}

}



//  8. Home Page Queried Posts

.recent-posts {
	background: #f5f5f5;
}

.posts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px 0;
}

.hp-post {
	width: 48%;
	font-size: .8em;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	background: #ffffff;
		h4 a {
			text-decoration: none;
			border-bottom: none;
		}
		&:hover {
			background: #eeeeee;
		}
		span {
			color: #666;
		}
}



@media screen and (min-width: 768px) {
	.hp-post {
		width: 23%;
		font-size: .8em;
		padding: 10px;
		border-radius: 4px;
		margin-bottom: 20px;
			h4 a {
				text-decoration: none;
				border-bottom: none;
			}
			span {
				color: #666;
			}
	}
}



.heading {
	margin: 50px 0;
}





