.site-header {
	padding: 0px;
	margin-bottom: 20px;
	background: #eee;
		h2 {
			line-height: 1;
		}
		a {
			color: #000;
			border-bottom: none;
				&:hover {
					text-decoration: none;
					color: #333;
				}
		}
}

.site-branding {
	padding: 10px;
}

.site-title {
	margin: 0;
	font-family: $body_font;
	font-weight: 800;
	text-transform: uppercase;
	padding: 0;
	text-align: center;
}

.site-description {
	display: none;
}



//  Navbar
.navbar-default {
	background: #ddd;
	border: none;
}

.navbar-toggle {
    position: relative;
    float: none;
    margin-right: 15px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-nav {
	margin: 0;
	text-transform: uppercase;
}

.navbar-collapse {
	padding: 0;
}

.navbar-default .navbar-nav>.open>a {
	background: #000 !important;
	color: #fff !important;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #666 !important;
    border-radius: 0px;
}

.navbar-nav .open .dropdown-menu>li>a {
	padding: 10px 15px;
}

//  Changed submenu links to white
.navbar-nav>li>.dropdown-menu>li>a {
	color: #fff !important;
}

//  Increased the high of submenu items on the mobile screen
.navbar-nav .open .dropdown-menu>li>a {
    line-height: 25px;
}

//  Changes background color on submenu item that is active
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    background-color: #000;
}

@media screen and (max-width: 767px) {
	.navbar {
		margin-bottom: 0;
		min-height: 30px;
	}

	.navbar-nav .open .dropdown-menu {
	    padding: 0;
	}
}



@media screen and (min-width: 768px) {

	.site-header {
	  	padding: 0px;
	}

	.site-branding {
		padding: 10px;
	}

	.site-title {
		padding: 0;
		text-align: left;
	}

	.site-description {
		display: block;
		font-size: .9em;
		font-style: italic;
		margin: 0;
	}

	.navbar-collapse {
		padding: 0;
		font-size: .9em;
		text-transform: uppercase;
	}

	.dropdown-menu {
	    padding: 0;
	    border: none;
	}

	.dropdown-menu > li > a {
	    padding: 10px;
	}

	//  Background color when a dropdown link is hovered over
	.navbar-nav .open .dropdown-menu>li>a:hover {
	    background: green;
	}

}



@media screen and (min-width: 900px) {

	.site-header {
		display: flex;
	  	flex-direction: row;
	}

	.site-title {
		padding: 0;
	}

	.site-branding {
	  display: flex;
	  flex-direction: column;
	  align-self: center;
	  margin-right: auto;
	}

	.navbar-collapse {
	  align-self: center;
	  padding: 0;
	  font-size: .85em;
	}

	.navbar-default {
		background: transparent;
		border: none;
		align-self: center;
	}

	.navbar {
		margin: 0;
		height: 1px;
	}

	.nav > li > a {
	    padding: 15px 10px;
	}

	.navbar-default .navbar-nav>.open>a {
	    border-radius: 4px 4px 0 0;
	}

	.navbar-nav>li>.dropdown-menu {
	    background-color: #000 !important;
	    border-radius: 0 4px 4px 4px;
	}

}

@media screen and (min-width: 768px) and (max-width: 899px) {
	.site-header {
		display: block;
	  	flex-direction: column;
	}
}

