blockquote {
	border-left: 5px solid $primary-color;
	font-style: italic;
	line-height: 2;
	font-size: .95em;
	background: rgba($primary-color, .05);
}

.edit-link {
	display: block;
	margin-bottom: 20px;
		.post-edit-link {

		}
}

.entry-meta {margin-bottom: 20px;}

p {
	margin: 0 0 20px 0;
}