.hof-post {
		.hof-logo {
			width: 75px;
			height: auto;
			margin-right: 30px;
			float: left;
			position: absolute;
		}
		.hof-content {
			margin-left: 100px;
			min-height: 100px;
		}
		.sub-accomplishments {
			font-size: .8em;
			color: #666;
		}
		.hof-sport-name {
			margin-bottom: 2px;
		}
}

.hof-team {
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.hof-year-title {
	border-bottom: none;
	margin-bottom: 0;
}